.cf-html__content{
    font-size: 16px;
}
.cf-html__content img{
    max-width: 100%;
    margin: 25px 0 0 0;
}
.cf-html__content strong{
    font-weight: bold;
    color: #d64b5e;
    font-style: italic;
}
.cf-container .cf-forms-area {
    flex:1 1 32% !important;
}

.cf-forms-area .cf-html__content .default-form{
    font-weight: 500;
    padding: 4px 10px 4px 10px;
    display: block;
    color: #212724;
    font-style: italic;
    border: 1px solid #212724;
    max-width: fit-content;
    border-radius: 3px;
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}

.cf-forms-area .cf-html__content .pro-form{
    font-weight: 500;
    padding: 4px 10px 4px 10px;
    display: block;
    color: #d64b5e;
    font-style: italic;
    border: 1px solid #d64b5e;
    max-width: fit-content;
    border-radius: 3px;
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}
.cf-forms-area .cf-html__content .email{
    font-style: italic;
}

.cf-container .cf-field.cf-forms-area{
    flex: 1 1 100%;
    padding: 26px;
    border: solid hwb(262deg 23% 28% / 20%);
    border-width: 0 2px 0 0;
}

#cl_metabox .cl-key-column{
    font-weight: 500;
    font-size: 18px;
    min-width: 80px;
    display: inline-block;
    color: #726767;
    font-style: italic;
}
#cl_metabox ul li{
    border-bottom: 1px solid #f1f1f1;
    padding: 0 0 9px 0;
}
.note {
    font-size: 18px !important;
    color: #d64b5e;
    font-style: italic;
    font-weight: 500 !important;
    padding: 0 0 6px 0 !important;
    text-decoration: underline;
}
/* #post-body #submitdiv{
    display: none;
} */